.wrapper#wrapper 
  %div#head_title
    %h1 IT/Web業界の求人・採用情報に強い転職サイトMossGreen
  %div#header
    %div#header_left
      %p#hd_h1
        = link_to 'MossGreen', root_path
        %ul#g_menu
          %li#gm_srch
            = link_to '求人を探す'
          %li#gm_new
            = link_to '新着求人'
          %li#gm_list
            = link_to '気になるリスト'
          %li#gm_msg
            = link_to 'メッセージ'
          %li.search_form_header
            %input{placeholder: 'キーワード、職種、企業名など'}
            %button
              検索
    %div#header_right
      %ul#r_menu
        %li.lnk
          = link_to 'ログイン'
        %li.lnk
          = link_to '会員登録'
        %li#requestsLnk.lnk
          = link_to '採用ご担当者様へ'
  %div.content#content
    %div#top_rgt
      = link_to '新規会員登録', root_path, class: "btn btn-sidebar btn-red"
      = link_to 'facebookで会員登録', root_path, class: "btn btn-sidebar btn-facebook mt10 mb20"
      %div.top_login.side_box
        %h3 ログイン
        %div.top_login_box
          %form
            %label メールアドレス
            %div
              %input#user_mail{type: "text"}
            %label パスワード
            %div
              %input#user_password{type: "password"}
            = link_to 'パスワードを忘れた方はこちら', root_path, class: "forget_password"
            %div.btn_login_box
              %button.btn-login ログイン 
          %br
          %br
          %div.sidebar-border
          = link_to 'facebookでログイン',root_path, class: "btn btn-facebook f14 w100p"